* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.engage-sec {
    background-image: url("../images/background.png");
    width: 1440px;
    height: 850px;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 135px;
    left: 120px;
    width: 1200;
    height: 90px;
}

ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}