* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.engage-sec {
    background-image: url("../images/background.png");
    width: 1440px;
    height: 850px;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

nav {
    background-color: white;
    border-radius: 24px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    left: 120px;
    width: 1200;
    height: 90px;
}

ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

#main-photo {
    position: absolute;
    right: 47px;
    top: 104px;
}

#bee {
    position: absolute;
    top: 175px;
    right: 48px;
}

#purple-rec {
    position: absolute;
    right: 72.01px;
    top: 586px;
}

.left-main {
    position: absolute;
    width: 775px;
    top: 219px;
    left: 120px;
}

.ref-sec {
    display: flex;
    justify-content: left;
    align-items: center;
}

#game-button {
    width: 220px;
    height: 50px;
    background-color: rgba(255, 138, 0, 1);
    border-radius: 16px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
    font-family: K2D;
    font-size: 20px;
}

.right-section {
    position: relative;
    font-family: K2D;
}

.left-section {
    position: relative;
    display: flex;
}

#levels {
    position: absolute;
    top: 320px;
    left: 375px;
    z-index: 1;
    border: rgba(255, 255, 255, 1) solid 10px;
    border-radius: 22px;
    box-shadow: 0px 25px 25px 0px rgba(69, 44, 88, 0.26);
}

#coding-example {
    position: absolute;
    width: 500px;
    height: 375px;
    background-color: rgba(51, 6, 86, 1);
    border: rgba(118, 85, 143, 1) solid 10px;
    border-radius: 35px;
    top: 115px;
    left: 120px;
}

.info {
    position: absolute;
    top: 115px;
    left: 751px;
    width: 569px;
    letter-spacing: -1px;
    line-height: 60px;
}

.info-details {
    position: absolute;
    top: 268px;
    left: 751px;
    width: 569px;
    margin-top: 25px;
}